@media only screen and (max-width : 200px) {
 	
}

@media only screen and (max-width : 992px) {
 	.bot-bar{
 		display:block;
 		width: 100%;
 	}

 	.mail{
 		width: 60%;
 		display: inline-block;
 		text-align: center;
 		padding: 0;
 	}

 	.tel{
 		width: 40%;
 		display: inline-block;
 		float: right;
 		font-size: 20px;

 	}

 	.section-1 .form-descr{
 		width: 60%;
 		padding: 25px 60px 25px 30px;
 	}

 	.section-1 form{
 		width: 40%;
 	}

 	.section-2 .wrapper{
 		flex-wrap:wrap;
		align-content: stretch;
		justify-content: space-between;
		align-items: stretch;
 	}

 	.section-2 .wrapper .column{
 		width: 49%;
 		margin-bottom: 30px;
 		margin-right: 0;
 	}
	.section-2 .wrapper .column-3{
		margin: 0 auto;
		width: 100%;
	}


	.section-3 .gradients{
	padding:33px 33px 33px 40px;
	min-width: 50%;
	}

    .section-4 .blog_wrapper{
    	display: block;
    }

	.section-4 .blog_wrapper .latest_news,
	.section-4 .blog_wrapper .our_blog{
		width: 48%;
		display: inline-block;
	}
	.section-4 .blog_wrapper .videos{
		width: 100%;
		margin: 0 auto;
	}

	.section-4 .blog_wrapper .videos img{
		margin: 10px auto;
		display: block;
		width: 90%;
	}


}

@media only screen and (max-width : 768px) {
 	.h1_wrapper{
 		width: 100%;
 	}

	.h1_descr{
		display: block;
		text-align: center;
		padding: 115px 0;
	}
    body .wrapper{
    	position: relative;
    }

    body .wrapper .navigation{
    	display: none;
    	background-color: #344d71;
    	min-height: 270px;
    	padding: 0;
    	text-align: center;
    	position: absolute;
    	left: -102%;
    }
    .navigation nav{
		width: 100%;
    }

     .navigation nav ul{
     	display: block;
     } 

    .navigation nav ul li a{
    	font-size: 30px;
    	padding: 5px;
    }

    .navigation nav ul li {
    	display: block;
        width: 100%;

    }

    .navigation nav ul li:first-child::before,
    .navigation nav ul li:nth-child(2)::before,
	.navigation nav ul li:nth-child(3)::before{
    	display: none;
    }
	
	.mail{
		width: 50%;
	}
    .tel{
    	padding: 0;
    	text-align: center;
    	width: 50%;
    }

    .tel::before{
    	padding-right: 30px;
    }


    .section-1 .wrapper{
    	display: block;
    }
    
    .section-1 .wrapper .form-descr{
    	width: 100%;
    	display: block;
    }

    .section-1 .wrapper form{
    	position: inherit;
    	width: 70%;
    	margin: 0 auto;
    	display: block;
    	top: 0;
    	margin-bottom: 20px;
    }
	 .buttons{
	 	margin: 0 auto;
	 	margin-top: 20px;
	 	max-width: 60%;
	
	 }

    header{
    	min-height: 700px;
    }

    .section-2 .wrapper .column {
    	width: 100%;
    }
    .section-2 .wrapper .buttons{
    	position: relative;
    	left: 0;
    	margin: 0;	
    }
	
	footer{
		display: block;
	}
    


    .under_footer{
    	padding: 10px;
    }

    .under_footer .some_text{
    	padding-bottom: 10px;
    }

    #slideMenu{
		display: block;
		padding: 20px;
	}
}    
@media only screen and (max-width : 640px) and (min-width: 540px){
   footer .about_us{
   	text-align: right;
   }
}


@media only screen and (max-width : 640px) {
   .section-3 .gradients{
	padding:33px 33px 33px 40px;
	width: 100%;
	text-align: center;
	}

	.section-3 .gradients::after{
		right: 18%;
	}
	footer .wrapper{
      padding: 20px 0 ;
	}
	footer .wrapper .contact_us{
		text-align: center;
		width: 100%;
		margin-top: 20px;
	}
     
    footer .tel_wrapper {
        position: relative;
        margin: 10px auto;
        max-width: 65%;
    }

    header .bot-bar .mail{
		text-align: center;
		width: 100%;
    }

     header .bot-bar .tel{
     	display: block;
     	width: 100%;
     }

}

@media only screen and (max-width : 540px) {
 	.tel{
 		display: none;
 	}

 	.section-1 .wrapper form{
 		width: 100%;
 		padding: 20px 15px;
 		margin-bottom: 0px;
 	}

 	.section-1 .form-descr{
 		padding: 10px 20px 10px 10px;
 	}

 	header{
 		max-height: 800px;
 	}
    .section-2 .column {
    padding: 0 10px;
    margin-right: 0;
    }


 	.section-3 .gradients {
    padding: 13px 13px 13px 20px;
    width: 100%;
    text-align: center;
    }

    .section-4 .blog_wrapper .latest_news,
	.section-4 .blog_wrapper .our_blog{
		width: 100%;
		display: block;
		padding: 10px;
	}

	.blog_wrapper article {
    margin-bottom: 20px;
	}

	footer .wrapper{
	display: block;
	}

	footer .wrapper ul{
		width: 80%;
		margin: 10px auto;
		text-align: center;
	}
	
	footer .tel_wrapper{
		max-width: 90%;
	}

	footer .tel_content{
		padding: 0 10px 0 35px;
	}
}

@media only screen and (max-width : 480px) {
 	.section-3 .gradients::after{
		right: 10%;
	}
}

@media only screen and (max-width : 380px) {
 	.section-3 .gradients::after{
		display: none;
	}
}